chatbotgemini.json.json
{
  "name": "Chatbot gemini",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "brand-bot",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "e9dd1163-099f-4939-996d-b4c711f6b3fd",
      "name": "Webhook (POST)",
      "type": "n8n-nodes-base.webhook",
      "position": [
        688,
        768
      ],
      "webhookId": "1a05e652-773a-40f2-ae60-92a875111c68",
      "typeVersion": 1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\n  \"output\": \"{{ $json.output }}\"\n}\n",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              },
              {
                "name": "Access-Control-Allow-Headers",
                "value": "Content-Type, x-api-key"
              },
              {
                "name": "Access-Control-Allow-Methods",
                "value": "POST, OPTIONS"
              }
            ]
          }
        }
      },
      "id": "9ae0e1e1-536c-42e8-aff2-e2e5e7d03772",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        1264,
        768
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {}
      },
      "id": "38c02528-87b3-43fd-b30b-e83c4b745df4",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        928,
        768
      ],
      "typeVersion": 2.1
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook (POST)').item.json.body.sessionId }}"
      },
      "id": "b0894788-2696-47d4-9305-5b44ff83b2f8",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        1056,
        992
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": "llama-3.1-8b-instant",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        656,
        1088
      ],
      "id": "a3835e7e-2361-4919-a86b-5d77f60e47f8",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "6gb5sLjlIo7wU062",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        832,
        960
      ],
      "id": "0da02233-4d4a-48ac-a799-e0cec9d7c410",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xTRoIONlQ536KFMf",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Webhook (POST)": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "efeba053-e03e-42f9-a01d-8dc328bf1668",
  "meta": {
    "templateId": "7416",
    "templateCredsSetupCompleted": true,
    "instanceId": "0689cfbbd451910e7414ad31c02b6f801396fad492b5ccd998b2eadead0ac5e2"
  },
  "id": "7XB-2a4eUqw4dqgghNotV",
  "tags": []
}